---
import ChangeCard from "./ChangeCard.astro";
import creativityImage from "../images/creativity.png";
import relationsImage from "../images/relations.png";
import curiosityImage from "../images/curiosity.png";
import experienceImage from "../images/experience.png";
import customizationImage from "../images/customization.png";
import empathyImage from "../images/empathy.png";
---

<!-- TODO
    DO IT WITH INTERSECTION OBSERVER
    BASICALLY HAVE THEM LOOKING NORMALLY
    SNAP AND ANIMATE


-->

<div class="swiper cardsSwiper">
    <div class="swiper-wrapper">
        <ChangeCard imageSrc={creativityImage} title="Kreatywność" subheading="creativity [ˌkriːeɪˈtɪvɪti]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={relationsImage} title="Relacje" subheading="relationships [rɪˈleɪ.ʃən.ʃɪp]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={curiosityImage} title="Ciekawość" subheading="curiosity [ˌkjʊə.riˈɒs.ə.ti]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={experienceImage} title="Doświadczenie" subheading="experience [ɪkˈspɪə.ri.əns]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={customizationImage} title="Personalizacja" subheading="customization [ˌkʌs.tə.maɪˈzeɪ.ʃən]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={empathyImage} title="Empatia" subheading="empathy [ˈem.pə.θi]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <div class="swiper-slide"></div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
</div>

<script>
import Swiper from 'swiper';

import 'swiper/css';
// import 'swiper/css/navigation';

// const swiper = new Swiper(".mySwiper", {
//   slidesPerView: "auto",
//   loop: true,
//   // Navigation arrows
//   navigation: {
//     nextEl: ".swiper-button-next",
//     prevEl: ".swiper-button-prev"
//   }
// });

  var swiper = new Swiper(".cardsSwiper", {
    direction: 'horizontal',
//   slidesPerView: 1,
    // mousewheel: true,
    freeMode: true,
    allowSlidePrev: true,
    allowSlideNext: true,
    spaceBetween: 30,
    mousewheel: {
    // releaseOnEdges: true,
    },
    breakpoints: {
        640: {
            slidesPerView: 2,
            direction: "vertical"
        }
    },
    });
  </script>

<style>
    .swiper {
        width: 100%;
        height: 80dvh;
    }

    .swiper-pagination {
        bottom: 4rem !important;
    }

    .swiper-slide {
        height: 100%;
        /* height: fit-content; */
        text-align: center;
        font-size: 18px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide.swiper-slide-next {
        /* width: 50%; */
    }
</style>