---
import ChangeCard from "./ChangeCard.astro";
import creativityImage from "../images/webp/creativity.webp";
import relationsImage from "../images/webp/relations.webp";
import curiosityImage from "../images/webp/curiosity.webp";
import experienceImage from "../images/webp/experience.webp";
import customizationImage from "../images/webp/customization.webp";
import empathyImage from "../images/webp/empathy.webp";
---

<!-- TODO
    DO IT WITH INTERSECTION OBSERVER
    BASICALLY HAVE THEM LOOKING NORMALLY
    SNAP AND ANIMATE


-->

<div class="swiper cardsSwiper">
    <div class="swiper-wrapper">
        <ChangeCard imageSrc={creativityImage} title="Kreatywność" subheading="creativity [ˌkriːeɪˈtɪvɪti]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={relationsImage} title="Relacje" subheading="relationships [rɪˈleɪ.ʃən.ʃɪp]">
            Nasza szkoła tworzy osobistą relację z uczniami, otwierając się na ich świat i pomagając w realizacji celów językowych. Minimalizujemy stres, pokazując, że błędy są wartościowe i zachęcając do wykorzystania zasobów. Budujemy relacje zarówno w grupie, jak i z rodzicami, oparte na zaufaniu i sympatii. Zapewniamy komfortowe, domowe wnętrza dla przyjaznej atmosfery nauki.        
        </ChangeCard>
        <ChangeCard imageSrc={curiosityImage} title="Ciekawość" subheading="curiosity [ˌkjʊə.riˈɒs.ə.ti]">
            Nasza szkoła językowa stale eksploruje nowe metody nauczania, oparte na neuropedagogice. Tworzymy nowe zajęcia, otwierając się na nowości, i zachęcamy uczniów do odkrywania swoich umiejętności i ciekawych aspektów świata poprzez naukę angielskiego. Skupiamy się na pytaniu "Po co się uczymy?", tworząc miejsce, gdzie nauka to pasja i przygoda. Pozwala to na praktyczne zastosowanie języka w rzeczywistych zadaniach.        
        </ChangeCard>
        <ChangeCard imageSrc={experienceImage} title="Doświadczenie" subheading="experience [ɪkˈspɪə.ri.əns]">
            Nasze wieloletnie doświadczenie w szkołach publicznych i językowych gwarantuje znajomość programów i strategii egzaminacyjnych. Akademia Change powstała 20 lat temu z innowacyjnym podejściem do nauczania języka angielskiego, łącząc tradycyjne metody z nowoczesnymi technikami nauczania, promującymi komunikację bez presji egzaminacyjnej.        
        </ChangeCard>
        <ChangeCard imageSrc={customizationImage} title="Personalizacja" subheading="customization [ˌkʌs.tə.maɪˈzeɪ.ʃən]">
            Personalizacja edukacji w naszej szkole skupia się na indywidualnych potrzebach uczniów, dostosowując program do nich. Pracujemy w małych grupach, diagnozując i niwelując deficyty językowe, co zwiększa efektywność nauki.        
        </ChangeCard>
        <ChangeCard imageSrc={empathyImage} title="Empatia" subheading="empathy [ˈem.pə.θi]">
            W naszych zajęciach dla dzieci łączymy naukę języka z rozwojem emocjonalnym. Stosujemy techniki świadomego oddechu i regulacji emocji, by rozwijać umiejętności językowe i świadomość emocjonalną uczniów. Na kursach egzaminacyjnych uczymy, jak emocje wpływają na sukces egzaminacyjny.
        </ChangeCard>
        <!-- <div class="swiper-slide desktop-display"></div> -->
    </div>
    <div class="pagination-and-navigation">
        <div class="swiper-pagination card-pagination"></div>

        <div class="navigation-buttons">

            <div class="swiper-button-prev">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" fill="#F2F4FA"/>
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M29 18.8636L29 21.1364L15.3636 21.1364L21.6136 27.3864L20 29L11 20L20 11L21.6136 12.6136L15.3636 18.8636L29 18.8636Z" fill="#535E6B"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" fill="#F2F4FA"/>
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M11 21.1364L11 18.8636L24.6364 18.8636L18.3864 12.6136L20 11L29 20L20 29L18.3864 27.3864L24.6364 21.1364L11 21.1364Z" fill="#535E6B"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<script>
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';

import 'swiper/css';
// import 'swiper/css/navigation';

// const swiper = new Swiper(".mySwiper", {
//   slidesPerView: "auto",
//   loop: true,
//   // Navigation arrows
//   navigation: {
//     nextEl: ".swiper-button-next",
//     prevEl: ".swiper-button-prev"
//   }
// });

  var swiper = new Swiper(".cardsSwiper", {
    modules: [Navigation, Pagination],
    direction: 'horizontal',
    slidesPerView: 1,
    loop: true,
    // mousewheel: true,
    // freeMode: true,
    allowSlidePrev: true,
    allowSlideNext: true,
    spaceBetween: 30,
    // mousewheel: {
    // // releaseOnEdges: true,
    //     enabled:true,
    //     releaseOnEdges: true,
    // },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
    },
    });
  </script>

<style>
    .swiper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        gap: var(--separator-m);
    }

    .swiper-wrapper {
        height: calc(100% - 3.75rem);
    }

    .pagination-and-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--separator-m);
    }

    .swiper-pagination {
        /* transform: rotateZ(90deg); */
        flex-direction: row;
        width: max-content;
        height: 2.5rem;
    }

    /* .card-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        display: inline-block;
        border-radius: var(--corner-s);
        background-color: var(--primary);
        width: var(--separator-s) !important;
        height: var(--corner-m) !important;
    } */


    .navigation-buttons {
        display: flex;
        flex-direction: row;
        gap: var(--separator-s);
    }
/* 
    .swiper-slide {
        height: fit-content;
        text-align: center;
        font-size: 18px;
    }
    */
/* 
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    .swiper-slide.swiper-slide-next {
        /* width: 50%; */
    }
</style>