---
interface Props {
    title: string,
    desc: string,
    buttonText: string,
    buttonLink: string,
    buttonIcon: string,
    aboutText?: string,
    aboutLink?: string,
    aboutIcon?: string,
}

const { title, desc, buttonText, buttonLink, buttonIcon, aboutText, aboutLink, aboutIcon } = Astro.props;
---

<div class="main">
    <div class="content">
        <h3 class="title">{title}</h3>
        <p class="desc">{desc}</p>
    </div>

    {!aboutLink ? 
    
    <div class="buttons">
        <a href={buttonLink} class="btn icon-btn">
            {buttonText} 
            <span class="material-symbols-outlined">
                {buttonIcon}
            </span>
        </a>
    </div>
        :
    <div class="buttons-grid">
        <a href={buttonLink} class="btn icon-btn">
            {buttonText} 
            <span class="material-symbols-outlined">
                {buttonIcon}
            </span>
        </a>
        <a href={aboutLink} class="btn out icon-btn">
            {aboutText}
            <span class="material-symbols-outlined">
                {aboutIcon}
            </span>    
        </a>
    </div>
    }
</div>

<style>
.main {
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    border-radius: 3rem;
    background: var(--white3);
}

.buttons-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--separator-l);
}

.buttons {
    align-items: stretch;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    gap: 2rem;
    align-self: stretch;
}

a {
    justify-content: center;
}

a:last-child {
    align-self: end
}
</style>
