---
import ChangeCard from "./ChangeCard.astro";
import creativityImage from "../images/creativity.png";
import relationsImage from "../images/relations.png";
import curiosityImage from "../images/curiosity.png";
import experienceImage from "../images/experience.png";
import customizationImage from "../images/customization.png";
import empathyImage from "../images/empathy.png";
---

<!-- TODO
    DO IT WITH INTERSECTION OBSERVER
    BASICALLY HAVE THEM LOOKING NORMALLY
    SNAP AND ANIMATE


-->

<div class="swiper cardsSwiper">
    <div class="swiper-wrapper">
        <ChangeCard imageSrc={creativityImage} title="Kreatywność" subheading="creativity [ˌkriːeɪˈtɪvɪti]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={relationsImage} title="Relacje" subheading="relationships [rɪˈleɪ.ʃən.ʃɪp]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={curiosityImage} title="Ciekawość" subheading="curiosity [ˌkjʊə.riˈɒs.ə.ti]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={experienceImage} title="Doświadczenie" subheading="experience [ɪkˈspɪə.ri.əns]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={customizationImage} title="Personalizacja" subheading="customization [ˌkʌs.tə.maɪˈzeɪ.ʃən]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <ChangeCard imageSrc={empathyImage} title="Empatia" subheading="empathy [ˈem.pə.θi]">
            Kreatywność jest kluczową kompetencją XXI wieku i stanowi podstawę naszego podejścia do nauczania. Lektorzy tworzą spersonalizowane scenariusze łącząc naukę języka z kreatywnymi zadaniami, jak planowanie miasta, pobudzając kreatywność uczniów. Są mentorami, uczącymi języka, inspirującymi do osiągania celów i eksplorowania nowych obszarów wiedzy.
        </ChangeCard>
        <div class="swiper-slide desktop-display"></div>
    </div>
    <div class="pagination-and-navigation">
        <div class="swiper-pagination card-pagination"></div>

        <div class="navigation-buttons">

            <div class="swiper-button-prev">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" fill="#F2F4FA"/>
                    <path d="M39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20C1 9.50659 9.50659 0.999997 20 0.999998C30.4934 0.999999 39 9.50659 39 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M29 18.8636L29 21.1364L15.3636 21.1364L21.6136 27.3864L20 29L11 20L20 11L21.6136 12.6136L15.3636 18.8636L29 18.8636Z" fill="#535E6B"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" fill="#F2F4FA"/>
                    <path d="M1 20C1 9.50659 9.50659 1 20 1C30.4934 1 39 9.50659 39 20C39 30.4934 30.4934 39 20 39C9.50659 39 1 30.4934 1 20Z" stroke="#39A2F1" stroke-width="2"/>
                    <path d="M11 21.1364L11 18.8636L24.6364 18.8636L18.3864 12.6136L20 11L29 20L20 29L18.3864 27.3864L24.6364 21.1364L11 21.1364Z" fill="#535E6B"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<script>
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';

import 'swiper/css';
// import 'swiper/css/navigation';

// const swiper = new Swiper(".mySwiper", {
//   slidesPerView: "auto",
//   loop: true,
//   // Navigation arrows
//   navigation: {
//     nextEl: ".swiper-button-next",
//     prevEl: ".swiper-button-prev"
//   }
// });

  var swiper = new Swiper(".cardsSwiper", {
    modules: [Navigation, Pagination],
    direction: 'horizontal',
//   slidesPerView: 1,
    // mousewheel: true,
    // freeMode: true,
    allowSlidePrev: true,
    allowSlideNext: true,
    spaceBetween: 30,
    // mousewheel: {
    // // releaseOnEdges: true,
    //     enabled:true,
    //     releaseOnEdges: true,
    // },
    breakpoints: {
        640: {
            slidesPerView: 2,
            direction: "vertical",
            mousewheel: {
            // releaseOnEdges: true,
                enabled:true,
                releaseOnEdges: true,
            },
            freeMode: true,
        }
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
    },
    });
  </script>

<style>
    .swiper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        gap: var(--separator-m);
    }

    .pagination-and-navigation {
        /* transform: translateY(-500px); */
        height: 50%;
        z-index: 10;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: var(--separator-m);
    }

    .swiper-pagination {
        /* transform: rotateZ(90deg); */
        flex-direction: column;
        height: max-content;
        width: 2.5rem;
    }

    .card-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        display: inline-block;
        border-radius: var(--corner-s);
        background-color: var(--primary);
        width: var(--separator-s) !important;
        height: var(--corner-m) !important;
    }

    .navigation-buttons {
        display: flex;
        flex-direction: column;
        gap: var(--separator-s);
    }

    .navigation-buttons > * {
        transform: rotateZ(90deg);
    }

    .swiper-slide {
        /* height: 100%; */
        height: fit-content;
        text-align: center;
        font-size: 18px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide.swiper-slide-next {
        /* width: 50%; */
    }
</style>